/*  font-family: 'Corinthia', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lora', serif;
    font-family: 'Meow Script', cursive;
    font-family: 'Roboto Slab', serif; 
*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  text-align: center;
  background-color: green;
  letter-spacing: 0.5px;
  font-family: "Roboto Slab", serif;
}

/*--------MENU ITEMS/ENTREES--------*/
.rightItems,
.leftItems,
.rightEntrees,
.leftEntrees {
  margin: 1% auto;
  text-align: left;
}

/*----SPAN CLASSES FOR MENU SECTIONS-----*/
.msb {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  padding-top: 3%;
}

.msb1 {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  padding-top: 3%;
}

/* HEADER STYLE */
#title-header {
  background-color: green;
  text-align: center;
}

.header-list li {
  display: inline;
  padding: 0 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
}

#title-header img {
  width: 25%;
  height: 25%;
}

.header-items {
  color: black;
  text-decoration: none;
  font-family: "Lora", serif;
}

.header-items:hover {
  color: white;
}

#top-section {
  margin: 0 auto;
  position: sticky;
}

.top-image img {
  align-content: center;
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

/*-------------------------- MENU CSS -------------------------*/

/*--------------TOP OF CATERING PAGE----------------*/
#top-catering {
  padding: 0 5%;
}

.fine-catering {
  background-image: url(/images/backyard.jpg);
  align-content: center;
  width: 100%;
  height: 650px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  image-orientation: from-image;
}

.our-menu {
  letter-spacing: 2px;
  margin: 0 0 -30px 0;
  padding: 15% 0 0 0;
  font-family: "Lobster", cursive;
  font-size: 150px;
  color: white;
  text-shadow: 5px 5px 5px black, 5px 5px 5px black;
}

.catering-links {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 0 0.5%;
  letter-spacing: 1.5px;
  text-decoration: none;
  display: inline-block;
  top: 5%;
}

.catering-links:hover {
  color: red;
}

.our-description {
  color: white;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
}

/*---------------CATERING and PICTURE SECTION--------------------*/

#catering-memo {
  font-family: "Roboto Slab", serif;
  margin: -3% auto;
  padding: 12% 0 0 0;
  background-color: #e0ddda;
  width: 100%;
}

.top-memo {
  color: black;
  margin: 2% auto;
  width: 65%;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 40px;
}

.catering {
  font-size: 100px;
  text-transform: uppercase;
  color: red;
  text-shadow: 3px 3px yellow;
}

.picture-row img {
  text-align: center;
  margin: 8% 2% -3% 2%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
/* 
img[class^="img-center"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
} */

/*----------------MEXICAN MENU SECTION------------------------*/
div.menu-card {
  height: 100%;
  background-color: #e0ddda;
}

.mexicanMenu {
  margin: 0 5%;
  padding: 0;
  padding-bottom: 1%;
}

#menu-section h1 {
  margin: 10% 0 2% 0;
  color: white;
  font-family: "Roboto Slab", serif;
}

.our-menu-column h2 {
  font-family: "Roboto Slab", serif;
  margin: 8% 0;
  text-decoration: underline 2px;
}

.our-menu-column p {
  margin: 0 auto;
  letter-spacing: 1px;
  font-family: "Roboto Slab", serif;
}

.our-menu-column li {
  list-style: disc;
  text-align: left;
  color: #555;
  margin-left: 5%;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
}

.mexicanDisclosure {
  font-size: 12px;
  width: 90%;
  text-align: left;
  padding: 1%;
}

/*------------------AMERICAN MENU CSS--------------------*/

.american-menu .twentyFourLong {
  width: 100%;
}

.american-menu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.mericaListMenu {
  padding: 0;
  padding-left: 25%;
  margin: 3% 0;
}

.americanPriceTop {
  padding-top: 5%;
  margin: 0 10%;
}

.americanPriceBottom {
  margin: 0 10%;
}

.americanDisclosure {
  margin: 0;
  text-align: left;
  padding-left: 40%;
}

/*-----------ITALIAN CSS-----------------*/
.italian-menu .italian-table {
  width: 100%;
  height: 670px;
}

.italian-menu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.italianPriceTop {
  padding-top: 5%;
  margin: 0 10%;
}

.italianPriceBottom {
  margin: 0 10%;
}

.italianListMenu {
  padding-left: 25%;
  margin: 3% 0;
}

.italianDisclosure {
  text-align: left;
  margin: 0;
  padding-left: 40%;
}

/*---------------APPETIZER CSS----------------------*/
.appMenu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.appMenu .app-picture {
  width: 100%;
  height: 670px;
}

.appQuoteTop {
  padding-top: 5%;
  margin: 0 10%;
}

.appQuoteBottom {
  margin: 0 10%;
}

.appItems {
  text-align: left;
  padding-left: 40%;
}

.appDisclosure {
  padding-left: 40%;
  text-align: left;
  margin: 0;
}

/*--------PICNIC CSS---------------*/
.picnicMenu {
  background-color: #e0ddda;
  margin: 0 5%;
  padding-bottom: 1%;
}

.picnicMenu .picnic-picture {
  width: 100%;
  height: 670px;
}

.picnicQuoteTop {
  padding-top: 5%;
  margin: 0 10%;
}

.picnicQuoteBottom {
  margin: 0 10%;
}

.leftPicnicItems {
  text-align: left;
  padding-left: 25%;
}

.rightPicnicItems {
  text-align: left;
  padding-left: 25%;
}

.picnicDisclosure {
  margin: 0;
}
/*-----------------FOOTER------------------------- */
#footer {
  background: #e0ddda;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
}

.contact-us {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
}

.location {
  margin: 0;
  width: 100%;
  line-height: 20px;
  float: left;
}

.copyright {
  width: 50%;
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(114, 114, 114);
  line-height: 20px;
}

.site {
  font-size: 15px;
  text-decoration: none;
  color: #555;
}

.site:hover {
  color: #d55427;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-decoration: none;
  margin: 3% 1%;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.footer-menu {
  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  width: 100%;
  float: right;
  text-align: center;
}

.footer-menu-column {
  padding: 15px;
}

.footer-menu:hover {
  color: black;
}

/*-------------------SCROLL TO TOP BUTTON--------------------*/
#myBtn {
  position: fixed;
  bottom: 0.1%;
  right: 1.4%;
  border: 0px solid white;
  outline: none;
  background-color: #e0ddda;
  color: white;
  cursor: pointer;
  padding: 0 15px;
  margin: 10px;
  border-radius: 50%;
  font-size: 25px;
}

#myBtn:hover {
  background-color: #555;
}
